@font-face
{
    font-family: SourceSansPro;
    src:url("../fonts/SourceSansPro-Light.otf");
}
body {
    background: url("../img/blacklist.jpg");
    font-family: SourceSansPro;
}
.container {
    background-color: white;
    padding:0;
    margin-top: 5%;
    margin-bottom: 5%;
}
h1 { padding: 20px 0; }
.menu {
    display: table;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    list-style-type: none;
}
.menu li {
    float: left;
    width: 100px;
}
.menu li:first-child + li {
    width: 200px;
}
.menu li a {
    display: block;
    padding:15px;
    text-align: center;
    color: #000;
}
.menu li a:hover {
/*background: #2db34a;
  border-radius: 6px; */
  color: #FFF;
    background-color: #3498db;
  transition-property: background, border-radius;
  transition-duration: .2s, 1s;
  transition-timing-function: linear, ease-in;
  transition-delay: 0s, 1s;
}
.menu .active a {
    color: #FFF;
    background-color: #3498db;
}
.pasek {
    background-color: #3498db;
    height: 5px;
    width: 100%;
}
label{
    display: block;
    font-size: 12px;
    color: black;
}
input {
    height: 30px;
    width: 300px;
}
input[type="submit"] {
    border: 0;
    color: #FFF;
    height: 36px;
    width: 200px;
    background-color: #3498db;
}
tbody > tr > td >.removes {
	background-color: #F24242; 
	width:100%;
}
form {
    margin-top: 30px;
    margin-left: 20px;
}
#tabela {
	width:100%;
}
#tabela > thead > tr {
    font-weight: 600;
    background-color: #cce5f6;
}
#tabela > tbody > tr:nth-child(even) {
    background-color: #DADADA;
}
#tabela tr td:last-child {
    background-color: white;
}
#tabela tr td {
    padding-left: 20px;
    height: 50px;
}
.nothing {
	font-size: 20px;
	margin:15px 0;
	font-weight:700;
}
#radios {
    margin: 20px 0;
}
/*narazie niech zostanie*/
.radio {
    display: inline-block;
    width: auto;
    height: auto;
}
.visa{background-image: url(../img/visa.jpg);}
.mastercard{background-image: url(../img/master.jpg);}
.american {background-image: url(../img/american.jpg);}
#radios-foto input {
    display: inline;
    -webkit-appearance:none;
}
#radios-foto input:checked +.drinkcard-cc {
    -webkit-filter: none;
}
.drinkcard-cc{
    border-style: dotted;
    border-width: 1px;
    cursor:pointer;
    margin-right: 15px;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:60px;
    height:60px;
    -webkit-transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.9);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1) grayscale(0) opacity(.9);
}
.error {
	color: #D10000;
	font-weight: 1500;
	font-size: 12px;
}
.paginacja{
	margin: 2% 4% 10px 0;
	list-style-type: none;
	font-family: SourceSansPro;
}
.paginacja li{
	display: inline-block;
    height: 100%;
    padding-buttom:10px;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: #FFF;
}.paginacja li a{
	padding: 5px 13px;
}
.paginacja li a:hover {
    color: #FFF;
    background-color: #3498db;
}
.paginacja .active a {
    color: #FFF;
    padding: 5px 13px;
    background-color: #3498db;
}
/*
.ng-invalid.ng-dirty{
	border-color: red;
}
.ng-valid.ng-dirty{
	border-color: green; 
}
*/

