<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<section>
<form id="myForm" name="my_form" method="post" ng-submit="my_form.$valid && adddata(codecard, cardtype)" novalidate>
	<label>Bank account number:</label>
	<input class="form-field" type="text" id="numer" name="numer" ng-model="codecard" ng-minlength="5" required>
	<div ng-messages="my_form.numer.$error" ng-if='submitted' class="error" role="alert">
		<div ng-message="required">Required field</div>
		<div ng-message="minlength">Min 5 characters</div>
	</div>
	<div id="radios" >
		<label>Account number type:</label>
		<input checked="checked" class="radio" type="radio" name="wybor" value="IBAN" ng-model="cardtype" required >IBAN<br />
		<input class="radio" type="radio" name="wybor" value="BIC" ng-model="cardtype" required>BIC<br />
		<div ng-messages="my_form.wybor.$error" ng-if='submitted' class="error" role="alert">
			<div ng-message="required">Required field</div>
		</div>
	</div>
	<input type="submit" value="Add to blacklist" ng-click="submitted=true">
</form>
<hr>
<table name="tabelas" id="tabela" cellspacing="0" cellpadding="0">
	<thead class="row">
		<tr>
			<td class="col-md-3">Value</td>
			<td class="col-md-3">Type</td>
			<td class="col-md-3">Blacklisted on</td>
			<td class="col-md-3"></td>
		</tr>
	</thead>
	<tbody class="row">
		<tr dir-paginate="data in products | itemsPerPage: pageSize" current-page="currentPage">
			<td class="col-md-3">{{data.value}}</td>
			<td class="col-md-3">{{data.type}}</td>
			<td class="col-md-3">{{data.date | date:'dd-MM-yyyy'}}</td>
			<td class="col-md-3"><input type="submit" value="Remove" class="removes" data={{data.id}} ng-click="remove(data.id)"></td>
		</tr>
	</tbody>
</table>
<div ng-show="empty" class='text-center nothing'>No data</div>
<div class='text-center'>
	<dir-pagination-controls boundary-links="true" 
		on-page-change="pageChangeHandler(newPageNumber)">
	</dir-pagination-controls>
	<ul class='paginacja pull-right'>
	<span>Items on page: </span>
		<li ng-class="{ active:isSet(5) }"><a href="" ng-click="setTab(5)">5</a></li>
		<li ng-class="{ active:isSet(10) }"><a href="" ng-click="setTab(10)">10</a></li>
		<li ng-class="{ active:isSet(20) }"><a href="" ng-click="setTab(20)">20</a></li>
	</ul>
</div>
</section>