<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates   
and open the template in the editor. ng-if='submitted'     class="error" ng-show="my_form.quantity.$error" 
		<div class="error" ng-show="my_form.quantity.$empty" ng-message="required">Required field</div>
-->
<section>
	<form id="myForm" name="my_form" method="post" ng-submit="my_form.$valid && adddata(codecard, cardtype)" novalidate>
	<label>Card number:</label>
	<input class="form-field" type="number" name="quantity" id="numer" ng-minlength="5" placeholder="4200000000000000" ng-model="codecard" required>
	<div ng-messages="my_form.quantity.$error" ng-if='submitted' class="error" role="alert">
		<div ng-message="required">Required field</div>
		<div ng-message="minlength">Min 5 characters</div>
		<div ng-message="number">Only numbers</div>
	</div>
	<div id="radios">
		<div id="radios-foto">
			<label>Card type:</label>
			<input id="visa" type="radio" name="wybor" value="Visa" ng-model="cardtype" required-message="'Pole wymagane'" required>
			<label class="drinkcard-cc visa" for="visa"></label>
			<input id="master" type="radio" name="wybor" value="MasterCard" ng-model="cardtype" required>
			<label class="drinkcard-cc mastercard" for="master"></label>
			<input id="american" type="radio" name="wybor" value="American Express" ng-model="cardtype" required>
			<label class="drinkcard-cc american" for="american"></label>
		</div>
		<div ng-messages="my_form.wybor.$error" ng-if='submitted' class="error" role="alert">
			<div ng-message='required'>Required field</div>
		</div>
	</div>
	<input id='addcard' type="submit" value="Add to blacklist" ng-click="submitted=true">
</form>
<hr>
<table id="tabela" cellspacing="0" cellpadding="0" >
	<thead >
		<tr class="row">
			<td class="col-md-3">Value</td>
			<td class="col-md-3">Type</td>
			<td class="col-md-3">Blacklisted on</td>
			<td class="col-md-3"></td>
		</tr>
	</thead><!-- ng-repeat='data in products' -->
	<tbody>
		<tr class="row" dir-paginate="data in products | itemsPerPage: pageSize" current-page="currentPage">
			<td class="col-md-3">{{data.value}}</td>
			<td class="col-md-3">{{data.type}}</td>
			<td class="col-md-3">{{data.date | date:'dd-MM-yyyy'}}</td>
			<td class="col-md-3"><input type="submit" value="Remove" class="removes" data={{data.id}} ng-click="remove(data.id)"></td>
		</tr>
	</tbody>
</table>
<div ng-show="empty" class='text-center nothing'>No data</div>
<div class='text-center'>
	<dir-pagination-controls boundary-links="true" 
		on-page-change="pageChangeHandler(newPageNumber)">
	</dir-pagination-controls>
	<ul class='paginacja pull-right'>
	<span>Items on page: </span>
		<li ng-class="{ active:isSet(5) }"><a href="" ng-click="setTab(5)">5</a></li>
		<li ng-class="{ active:isSet(10) }"><a href="" ng-click="setTab(10)">10</a></li>
		<li ng-class="{ active:isSet(20) }"><a href="" ng-click="setTab(20)">20</a></li>
	</ul>
</div>
</section>

