<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<section>
	<form name="my_form" method="post" ng-submit="my_form.$valid && adddata(email)" novalidate>
		<label>Email adress:</label> <input class="form-field" type="email" id="mail" name="email" placeholder="email@example.com" ng-model="email" required>
		<input type="submit" value="Add to blacklist" ng-click="submitted=true">
		<div ng-messages="my_form.email.$error" ng-if='submitted' class="error" role="alert">
			<div ng-message="required">Required field</div>
			<div ng-message="email">Incorrect e-mail address</div>
		</div>
	</form>
	<hr>
	<table id="tabela" cellspacing="0" cellpadding="0">
		<thead >
			<tr class="row">
				<td class="col-md-4">Value</td>
				<td class="col-md-4">Blacklisted on</td>
				<td class="col-md-4"></td>
			</tr>
		</thead>
		<tbody>
			<tr class="row" dir-paginate="data in products | itemsPerPage: pageSize" current-page="currentPage">
				<td class="col-md-4">{{data.value}}</td>
				<td class="col-md-4">{{data.date | date:'dd-MM-yyyy'}}</td> <!-- data-ng-click="showAlert($event)" ng-click="remove($index)" -->
				<td class="col-md-4"><input type="submit" value="Remove" class="removes" data={{data.id}} ng-click="remove(data.id)" ></td>
			</tr>
		</tbody>
	</table>
	<div ng-show="empty" class='text-center nothing'>No data</div>
	<div class='text-center'>
	<dir-pagination-controls boundary-links="true" 
		on-page-change="pageChangeHandler(newPageNumber)">
	</dir-pagination-controls>
	<ul class='paginacja pull-right'>
	<span>Items on page: </span>
		<li ng-class="{ active:isSet(5) }"><a href="" ng-click="setTab(5)">5</a></li>
		<li ng-class="{ active:isSet(10) }"><a href="" ng-click="setTab(10)">10</a></li>
		<li ng-class="{ active:isSet(20) }"><a href="" ng-click="setTab(20)">20</a></li>
	</ul>
</div>
</section>
